# Example of environment variables used in the project.

# Without variables, the website will not start correctly.
# The received environment variables should be placed in the .env file.

# REST API
NEXT_PUBLIC_CMS_BASE_API_URL=http://localhost:3000
